<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345586264947-vj0lb6r4l03v6q64mck0bcpmn4c52n3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345586264947-vj0lb6r4l03v6q64mck0bcpmn4c52n3a</string>
	<key>API_KEY</key>
	<string>AIzaSyAyQhu4sVhpJWgD9cQu7sPzrLBGdXuJ7do</string>
	<key>GCM_SENDER_ID</key>
	<string>345586264947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>grocr-9de21</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-9de21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:345586264947:ios:11bd119eb6688866</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-9de21.firebaseio.com</string>
</dict>
</plist>