<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>447987078020-mk26jfm9r39skqom99d84k9ho8bcc5ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447987078020-mk26jfm9r39skqom99d84k9ho8bcc5ut</string>
	<key>API_KEY</key>
	<string>AIzaSyDs9NMvwpn2plCtE_nr6bzfOxUblyGbylM</string>
	<key>GCM_SENDER_ID</key>
	<string>447987078020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tristanwolf.MobileHostess</string>
	<key>PROJECT_ID</key>
	<string>mobile-hostess</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-hostess.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:447987078020:ios:bc9c65cb3bf60d9a</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-hostess.firebaseio.com</string>
</dict>
</plist>